<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleViewsExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A11A02881F2D27B90041B56A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A11A029C1F2D27B90041B56A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A11A02A71F2D27BA0041B56A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
